<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/switchery.css" />

		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/switchery.js"></script>
<style>

.container {
	display:flex;justify-content: space-around; align-items: center; padding-top:50px;
}

.device {
	display:flex; align-items: center; flex-direction: column; border:1px solid black; padding:10px;
}

.device .temp {
	padding:10px; border-right :1px solid black;
}

.device .humidity {
	padding: 10px;
}

					.on {
						color: green;
					}

					.off {
						color: red;
					}
</style>
	</head>
	<body>
		<div class="container">
			<div class="device">
			  <div id="device1" style="display:flex;">
				 <div class="temp" >
					<div style="margin-bottom: 5px;">온도</div>
					<div id="temp">N/A</div>
				 </div>
				 <div class="humidity"> 
					<div style="margin-bottom: 5px;">습도</div>
					<div id="humidity">N/A</div>
				 </div>
			  </div>
			  <div>
				 <div>
					 <form id="setTemp">
						 <input type="hidden" name="ruleName" value="boilerState" />
						<input type="hidden" name="deviceNo" value=1 />
						<p>보일러 가동 온도 설정 (현재 설정:<span id="currentTempLimit"></span>)<p>
						<input type="number" name="temp" /> 
						<input type="submit" />
					</form>
					<form id="setHumidity">
						<input type="hidden" name="ruleName" value="humidifierState" />
						<input type="hidden" name="deviceNo" value=1 />
						<p>가습기 가동 습도 설정 (현재 설정:<span id="currentHumLimit"></span>)<p>
						<input type="number" min="0" max="100" name="humidity" />
						<input type="submit" />
					</form>
				 </div>
			  </div>
			  <div>
				<p>보일러 상태 <span id="device1Boiler" class="boilerStatus">N/A</span></p>
				<p>가습기 상태 <span id="device1Humidifier" class="humidifierStatus">N/A</span></p>
			  </div>
			  <div><!-- Rounded switch -->
			  <!--<p><span>센서 전원</span> <input id="device1State" type="checkbox" class="js-switch" /></p>-->
			  </div>
		   </div>

		  <div class="device">
			  <div id="device2" style="display:flex;">
				 <div class="temp" >
					<div style="margin-bottom: 5px;">온도</div>
					<div id="temp">N/A</div>
				 </div>
				 <div class="humidity"> 
					<div style="margin-bottom: 5px;">습도</div>
					<div id="humidity">N/A</div>
				 </div>
			  </div>
			  <div>
				 <div>
					 <form id="setTemp">
						 <input type="hidden" name="ruleName" value="boilerState" />
						<input type="hidden" name="deviceNo" value=2 />
						<p>보일러 가동 온도 설정 (현재 설정:<span id="currentTempLimit"></span>)<p>
						<input type="number" name="temp" /> 
						<input type="submit" />
					</form>
					<form id="setHumidity">
						<input type="hidden" name="ruleName" value="humidifierState" />
						<input type="hidden" name="deviceNo" value=2 />
						<p>가습기 가동 습도 설정 (현재 설정:<span id="currentHumLimit"></span>)<p>
						<input type="number" min="0" max="100" name="humidity" />
						<input type="submit" />
					</form>
				 </div>
			  </div>
			  <div>
				<p>보일러 상태 <span id="device2Boiler" class="boilerStatus">N/A</span></p>
				<p>가습기 상태 <span id="device2Humidifier" class="humidifierStatus">N/A</span></p>
			  </div>
			  <div><!-- Rounded switch -->
			  <!--<p><span>센서 전원</span> <input id="device1State" type="checkbox" class="js-switch" /></p>-->
			  </div>
		   </div>

			<div class="device">
			  <div id="device3" style="display:flex;">
				 <div class="temp" >
					<div style="margin-bottom: 5px;">온도</div>
					<div id="temp">N/A</div>
				 </div>
				 <div class="humidity"> 
					<div style="margin-bottom: 5px;">습도</div>
					<div id="humidity">N/A</div>
				 </div>
			  </div>
			  <div>
				 <div>
					 <form id="setTemp">
						 <input type="hidden" name="ruleName" value="boilerState" />
						<input type="hidden" name="deviceNo" value=3 />
						<p>보일러 가동 온도 설정 (현재 설정:<span id="currentTempLimit"></span>)<p>
						<input type="number" name="temp" /> 
						<input type="submit" />
					</form>
					<form id="setHumidity">
						<input type="hidden" name="ruleName" value="humidifierState" />
						<input type="hidden" name="deviceNo" value=3 />
						<p>가습기 가동 습도 설정 (현재 설정:<span id="currentHumLimit"></span>)<p>
						<input type="number" min="0" max="100" name="humidity" />
						<input type="submit" />
					</form>
				 </div>
			  </div>
			  <div>
				<p>보일러 상태 <span id="device3Boiler" class="boilerStatus">N/A</span></p>
				<p>가습기 상태 <span id="device3Humidifier" class="humidifierStatus">N/A</span></p>
			  </div>
			  <div><!-- Rounded switch -->
			  <!--<p><span>센서 전원</span> <input id="device1State" type="checkbox" class="js-switch" /></p>-->
			  </div>
		   </div>

 	
		</div>
		<script>
			$(function() {
				var socket = io();
				socket.on('device1Data', function(msg) {
					$('#device1 #temp').html(msg.temp + '(C)');
					$('#device1#humidity').html(msg.humidity + '%');
					$('#device1Boiler').removeClass('on').removeClass('off').addClass(msg.states.boilerState).html(msg.states.boilerState.toUpperCase());
					$('#device1Humidifier').removeClass('on').removeClass('off').addClass(msg.states.humidifierState).html(msg.states.humidifierState.toUpperCase());
				});
				socket.on('device2Data', function(msg) {
					$('#device2#temp').html(msg.temp + '(C)');
					$('#device2#humidity').html(msg.humidity + '%');
					$('#device2Boiler').removeClass('on').removeClass('off').addClass(msg.states.boilerState).html(msg.states.boilerState.toUpperCase());
					$('#device2Humidifier').removeClass('on').removeClass('off').addClass(msg.states.humidifierState).html(msg.states.humidifierState.toUpperCase());
				});
				socket.on('device3Data', function(msg) {
					$('#device3#temp').html(msg.temp + '(C)');
					$('#device3#humidity').html(msg.humidity + '%');
					$('#device3Boiler').removeClass('on').removeClass('off').addClass(msg.states.boilerState).html(msg.states.boilerState.toUpperCase());
					$('#device3Humidifier').removeClass('on').removeClass('off').addClass(msg.states.humidifierState).html(msg.states.humidifierState.toUpperCase());
				});

				$('#setTemp').submit(function(event) {
					event.preventDefault();
					var data = {
						ruleName : $(this).find('input[name="ruleName"]').val(),
						deviceNo : $(this).find('input[name="deviceNo"]').val(),
						value : $(this).find('input[name="temp"]').val()
					}
					$.ajax({
						method: 'POST',
						url: '/',
						data : data,
						success: function(data) {
							console.log("success");
							console.log(data);
							$('.device1 #setTemp #currentTempLimit').html('test' + '(C)');
						},
						error: function(err) {
							console.log("error");
							console.log(err);
						}
					});
					
				});
				$('#setHumidity').submit(function(event) {
					event.preventDefault();
					var data = {
						ruleName : $(this).find('input[name="ruleName"]').val(),
						deviceNo : $(this).find('input[name="deviceNo"]').val(),
						value : $(this).find('input[name="humidity"]').val()
					}
					$.ajax({
						method: 'POST',
						url: '/',
						data : data,
						success: function(data) {
							console.log("success");
							console.log(data);
						},
						error: function(err) {
							console.log("error");
							console.log(err);
						}
					});
				});
			
			});
		</script>
	</body>
</html>
